/* Base container style */
.container {
    width: 100%;
    padding-right: 0;
    padding-left:  0;
    margin-right: auto;
    margin-left: auto;
  }
  
  /* Small devices (≥576px) */
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  /* Medium devices (≥768px) */
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  /* Large devices (≥992px) */
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  /* Extra large devices (≥1200px) */
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  
  /* XX-Large devices (≥1400px) */
  @media (min-width: 1400px) {
    .container {
      max-width: 1320px;
    }
  }
  